<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <main class="container">
            <header class="jumbotron my-4">
                <h1 class="display-3">AIRCRAFT TRACKER</h1>
                <p class="lead">
                    Where in the world is Alia Medflight?
                    <i class="fas fa-plane"></i>
                </p>
                <p>
                    A place for Alia Medflight employees to track company
                    aircraft
                </p>
            </header>
        </main>

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>
