<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <main class="container inner cover">
            <!-- <header class="jumbotron my-4">
                <!-- <h1 class="display-3">AIRCRAFT TRACKER</h1> -->
            <!-- <img src="/images/alia.png" class="img-fluid logo" />
                <p class="lead">
                    Where in the world is Alia Medflight?
                    <i class="fas fa-plane"></i>
                </p>
                <p>
                    A place for Alia Medflight employees to track company
                    aircraft
                </p>
            </header> -->

            <header class="jumbotron jumbotron-fluid">
                <div class="container-fluid text-center jumbo-txt">
                    <h1 class="display-3">Alia Aircraft Tracker</h1>
                    <p class="lead pb-4">
                        Get instant details on the whereabouts of Alia's
                        aircraft
                    </p>
                    <p>
                        <a
                            href="/users/sign_in"
                            class="btn btn-primary btn-lg"
                            role="button"
                            >Employee Login</a
                        >
                    </p>
                </div>
            </header>
        </main>

        <% include ./partials/baseScripts.ejs %>
    </body>
</html>
